# Local build artifacts
target

# Data folder
data
vw-data

# Local TLS assets
certs

# Local macOS files
.DS_Store

# IDE files
.vscode
.idea
*.iml

# Environment files
.env
.env.*
!.env.template
!.env.production.example

# Web vault
web-vault
